
<button (click)="changeColor()">Change Color</button>
<div>{{value}}</div>
<div ngD3Slider id="slider3"  [length]="200" [lineWidth]="7" [color]="color"
     [emptyColor]="'orange'" [thumbColor]="'pink'" [thumbSize]="8" (selectedValue)="selectedValue($event)"></div>
<div ngD3Slider id="slider2" [direction]="'RTL'"  [length]="200" [maxValue]="200" [minValue]="0" [lineWidth]="7" [color]="color"
     [emptyColor]="'orange'" [thumbColor]="'pink'" [thumbSize]="8" (selectedValue)="selectedValue($event)"></div>
